@import "variables";

/*  iOS styles */

._BT_switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px
}

._BT_switch input {
  display: none
}

._BT_slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s
}

._BT_slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: #fff;
  -webkit-transition: .4s;
  transition: .4s
}

input:checked+._BT_slider {
  background-color: $switchColor;
}

input:focus+._BT_slider {
  box-shadow: 0 0 1px #2196F3
}

input:checked+._BT_slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px)
}

._BT_slider._BT_sliderRound {
  border-radius: 17px
}

._BT_slider._BT_sliderRound:before {
  border-radius: 50%
}