$appWidth: 250px;

$primaryColor: #2979FF;
$secondaryColor: #FAFAFA;
$thirdColor: #9E9E9E;
$backgroundColor: #212121;
// $textColor: $primaryColor;
$warningColor: #F44336;
$textColor: white;

//GOLD
// primaryColor: #212121;
// $secondaryColor: #FAFAFA;
// $thirdColor: #9E9E9E;
// $backgroundColor: #FFC107;

// HABS
// $primaryColor: #01579B;
// $secondaryColor: #B71C1C;
// $backgroundColor: #EFEFEF;

//RED
// $primaryColor: #F44336;
// $secondaryColor: #B71C1C;
// $backgroundColor: #EFEFEF;

//BLUE
// $primaryColor: #3F51B5;
// $secondaryColor: #1A237E;
// $backgroundColor: #EFEFEF;