$textColor: black;
$appWidth: 250px;

$primaryColor: #01579B;
$secondaryColor: #B71C1C;
$backgroundColor: #EFEFEF;

// $primaryColor: #01579B;
// $secondaryColor: #0277BD;
// $backgroundColor: #EFEFEF;

// $primaryColor: #F44336;
// $secondaryColor: #B71C1C;
// $backgroundColor: #EFEFEF;

// $primaryColor: #3F51B5;
// $secondaryColor: #1A237E;
// $backgroundColor: #EFEFEF;