/* DOM Styles Manipulation */
._BT_expand {
  width: 250px !important; }

._BT_featureOn {
  fill: #FAFAFA !important; }

._BT_visible {
  visibility: visible !important; }

._BT_opacity {
  opacity: 1 !important; }

._BT_backgroundColor {
  background-color: rgba(0, 0, 0, 0.8) !important; }

._BT_marginTop {
  margin-top: 100px !important; }

._BT_border {
  border: 1px dashed red !important; }

#_BT_AdGearURLInput, #_BT_AdGearLogoButton, #_BT_AdGearURLButton, #_BT_AdGearPreviewContainer {
  display: block;
  margin: auto;
  margin-top: 20px; }

#_BT_AdGearHomeButton {
  position: absolute;
  top: 10px;
  left: 10px;
  fill: #FAFAFA;
  transition: transform 0.5s; }
  #_BT_AdGearHomeButton:hover {
    cursor: pointer; }
  #_BT_AdGearHomeButton svg {
    width: 50px;
    height: 50px; }

#_BT_AdGearPreviewContainer * {
  display: block;
  margin: auto; }

#_BT_AdGearURLButton {
  background-color: #212121;
  border: 2px solid #FAFAFA;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 14px;
  color: white;
  padding: 5px; }
  #_BT_AdGearURLButton:active {
    box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.1); }
  #_BT_AdGearURLButton:hover {
    cursor: pointer; }

#_BT_AdGearURLInput {
  height: 15px;
  width: 300px;
  padding: 5px;
  font-size: 14px;
  font-family: 'Roboto Condensed', sans-serif;
  color: white; }

#_BT_AdGearLogoButton {
  transition: transform 0.5s;
  filter: invert(100%); }
  #_BT_AdGearLogoButton:hover {
    cursor: pointer; }

/*  iOS styles */
._BT_switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px; }

._BT_switch input {
  display: none; }

._BT_slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s; }

._BT_slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: #fff;
  -webkit-transition: .4s;
  transition: .4s; }

input:checked + ._BT_slider {
  background-color: #2979FF; }

input:focus + ._BT_slider {
  box-shadow: 0 0 1px #2196F3; }

input:checked + ._BT_slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px); }

._BT_slider._BT_sliderRound {
  border-radius: 17px; }

._BT_slider._BT_sliderRound:before {
  border-radius: 50%; }

#_BT_helpDesk {
  width: 250px;
  position: absolute;
  top: 5px;
  left: 5px;
  background-color: #212121;
  border: 2px solid #2979FF;
  padding: 10px;
  font-family: 'Roboto Condensed', sans-serif;
  opacity: 0;
  transition: opacity 0.5s; }

#_BT_ {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #212121;
  overflow-x: hidden;
  transition: 0.5s;
  border-left: 2px solid #2979FF;
  width: 0px; }
  #_BT_ * {
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    user-select: none; }
  #_BT_ > div:first-child {
    background-color: #2979FF;
    box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.5); }
  #_BT_ div:nth-of-type(n+2) {
    padding: 10px; }
  #_BT_ table {
    width: 100%; }
  #_BT_ tr > td:nth-child(1) {
    width: 90%; }
  #_BT_ tr > td:nth-child(2) {
    width: 10%;
    text-align: right; }
  #_BT_ #_BT_logo {
    width: 75px;
    display: block;
    margin: auto;
    padding: 10px; }
  #_BT_ #_BT_reset,
  #_BT_ #_BT_forceRun {
    font-weight: bold;
    cursor: pointer; }
  #_BT_ ._BT_warning {
    color: #F44336; }
  #_BT_ ._BT_info {
    font-style: italic; }
  #_BT_ #_BT_featureControls button {
    border: 0px;
    display: block;
    margin: auto;
    background-color: transparent;
    width: 50px;
    height: 50px; }
  #_BT_ #_BT_featureControls #_BT_imgDelRefButton {
    visibility: hidden; }
  #_BT_ ._BT_easterEgg div {
    float: left;
    padding: 0px !important; }
  #_BT_ ._BT_easterEgg div:nth-of-type(2) {
    float: right; }

.svgControls td, #_BT_ #_BT_featureControls td, #_BT_rulerOverlayControls td {
  height: 55px !important;
  width: 50px !important;
  padding: 5px; }

.svgControls svg, #_BT_ #_BT_featureControls svg, #_BT_rulerOverlayControls svg {
  display: block;
  margin: auto;
  text-align: center;
  fill: #2979FF; }

.svgControls svg:hover, #_BT_ #_BT_featureControls svg:hover, #_BT_rulerOverlayControls svg:hover {
  fill: #FAFAFA !important;
  cursor: pointer; }

#_BT_imgOverlay {
  opacity: 0.5; }

#_BT_gridOverlay {
  background-size: 10px 10px;
  background-image: linear-gradient(to right, grey 1px, transparent 1px), linear-gradient(to bottom, grey 1px, transparent 1px);
  opacity: 0.5; }

._BT_featureOverlay {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 0;
  visibility: hidden; }

#_BT_rulerOverlayControls {
  width: 100%;
  visibility: hidden; }
  #_BT_rulerOverlayControls table {
    background-color: #212121;
    border: 2px solid #2979FF;
    width: 250px;
    margin-left: auto;
    margin-right: auto; }

._BT_rulerX {
  cursor: col-resize;
  width: 0px;
  height: 100%;
  border-right: 1px cyan solid !important;
  position: absolute; }

._BT_rulerY {
  cursor: row-resize;
  height: 0px;
  width: 100%;
  border-top: 1px cyan solid !important;
  position: absolute; }

._BT_rulerPos {
  position: absolute;
  font-size: 12px;
  background-color: rgba(255, 255, 255, 0.7);
  font-family: 'Roboto Condensed', sans-serif;
  display: block;
  width: 50px; }

#animationPlayback div {
  padding: 0px !important; }

#animationPlayback div:first-child {
  display: block;
  margin: auto; }

#animationPlayback #_BT_timeLine {
  margin-top: 10px; }
  #animationPlayback #_BT_timeLine div {
    float: left; }
  #animationPlayback #_BT_timeLine div:nth-of-type(2) {
    float: right; }

#animationPlayback #slider {
  width: 90%;
  border-color: #212121;
  background: #FAFAFA; }
  #animationPlayback #slider .ui-slider {
    background: #2979FF; }
  #animationPlayback #slider .ui-slider-range {
    background: #9E9E9E; }
  #animationPlayback #slider .ui-slider-handle {
    border-color: #2979FF;
    background-color: #2979FF;
    border-radius: 100px; }

#_BT_imgRefGalleryContainer {
  visibility: hidden;
  overflow-x: scroll;
  overflow-y: hidden;
  width: 90%;
  height: 75px;
  background-color: #9E9E9E;
  padding: 10px;
  display: block;
  margin: auto;
  border-radius: 5px; }
  #_BT_imgRefGalleryContainer #_BT_imgRefGallery {
    width: 230px;
    height: 100%; }
    #_BT_imgRefGalleryContainer #_BT_imgRefGallery .imgContainer {
      width: 75px;
      height: 100%;
      float: left;
      position: relative;
      padding: 0px !important;
      margin-right: 10px; }
      #_BT_imgRefGalleryContainer #_BT_imgRefGallery .imgContainer img {
        width: 100%;
        height: 100%;
        position: absolute; }
      #_BT_imgRefGalleryContainer #_BT_imgRefGallery .imgContainer span {
        display: none;
        position: absolute;
        top: 0px;
        right: 0px;
        width: 20px;
        height: 20px;
        text-align: center;
        color: black; }
      #_BT_imgRefGalleryContainer #_BT_imgRefGallery .imgContainer *:hover {
        cursor: pointer; }
      #_BT_imgRefGalleryContainer #_BT_imgRefGallery .imgContainer ._BT_selectedImgOverlay {
        border: 1px solid white !important; }
    #_BT_imgRefGalleryContainer #_BT_imgRefGallery .imgContainer:hover span {
      display: block; }
