#_BT_ * {
  color: black;
  font-family: 'Open Sans', sans-serif;
}

#_BT_ {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #d2d755;
  overflow-x: hidden;
  transition: 0.5s;
  border-left: 2px solid white;
  padding-top: 10px;
}

#_BT_ > div {
  margin-top: 10px;
  padding: 10px;
}

#_BT_logo {
  width: 100px;
  display: block;
  margin: auto;
}

#_BT_ table {
  width: 100%;
}

#_BT_ tr > td:nth-child(1) {
  width: 90%;
}

#_BT_ tr > td:nth-child(2) {
  width: 10%;
  text-align: right;
}

#_BT_featureGrid td {
  height: 60px !important;
  width: 50px !important;
  /*border: 2px solid rgb(255,59,48);*/
  /*border: 2px solid black;*/
  padding: 5px;
  user-select: none;
}

#_BT_featureGrid td > img {
  filter: invert(1);
}

._BT_featureNothing{
  border: 2px solid #d2d755 !important;
}

._BT_featureOn {
  /*border: 2px solid rgb(76,216,100) !important;*/
  /*border: 2px solid white !important;*/
  /*background-color: white !important;*/
}

._BT_featureOn > img {
  filter: invert(0) !important;
}

._BT_visible {
  visibility: visible !important;
}

._BT_backgroundColor {
  background-color: rgba(0, 0, 0, 0.8) !important;
}

._BT_marginTop {
  margin-top: 100px !important;
}

._BT_border {
  border: 1px dashed red !important;
}

#_BT_featureGrid img {
  display: block;
  margin: auto;
}

._BT_specialTable tr > td:nth-child(1) {
  width: 30% !important;
}

._BT_specialTable tr > td:nth-child(2) {
  width: 70% !important;
}

#_BT_screenshotButton:hover {
  cursor: pointer;
}

._BT_specialTable2 tr > td {
  width: 33% !important;
}

#_BT_playButton,
#_BT_screenshotButton {
  width: 50px;
  height: 50px;
}

#_BT_rewindButton,
#_BT_forwardButton {
  width: 25px;
  height: 25px;
  display: block;
  margin: auto;
  padding: 7px;
}

._BT_rulerButtons {
  text-align: center;
  float: left;
  position: relative;
  padding: 7px;
  font-size: 14px;
  border-radius: 20px;
  color: white;
  background-color: rgb(0, 122, 255);
  border: 1px solid rgb(0, 122, 255);
  display: none;
}

#_BT_reset,
#_BT_override {
  /*color: red;*/
  color: black;
  font-weight: bold;
  /*text-decoration: underline;*/
  cursor: pointer;
}

#_BT_gridOverlay {
  background-size: 10px 10px;
  background-image: linear-gradient(to right, grey 1px, transparent 1px), linear-gradient(to bottom, grey 1px, transparent 1px);
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 0;
  opacity: 0.5;
  visibility: hidden;
}

#_BT_gridOverlayControls {
  margin: 10px auto;
  width: 300px;
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
  position:relative;
}

#_BT_rulerCanvas {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 0;
  display: none;
}

._BT_rulerX {
  cursor: col-resize;
  width: 0px;
  height: 100%;
  border-right: 1px cyan solid;
  position: absolute;
}

._BT_rulerY {
  cursor: row-resize;
  height: 0px;
  width: 100%;
  border-top: 1px cyan solid;
  position: absolute;
}

._BT_rulerPos {
  position: absolute;
  font-size: 12px;
  background-color: rgba(255, 255, 255, 0.7);
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  width: 50px;
}

#_BT_playButton {
  /*fill: #ff0000;*/
  fill: black;
  outline: none;
  border: 0px;
  text-align: center;
  transition: 0.5s;
  display: block;
  margin: auto;
  padding: 7px;
  background-color: rgba(0,0,0,0);
}

#_BT_playButton:hover {
  cursor: pointer;
}

#_BT_adDurationLabel {
  color: white;
  /*color: rgb(76, 217, 100);*/
}

/*  iOS styles */

._BT_switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px
}

._BT_switch input {
  display: none
}

._BT_slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s
}

._BT_slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: #fff;
  -webkit-transition: .4s;
  transition: .4s
}

input:checked+._BT_slider {
  background-color: #4cd964
}

input:focus+._BT_slider {
  box-shadow: 0 0 1px #2196F3
}

input:checked+._BT_slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px)
}

._BT_slider._BT_sliderRound {
  border-radius: 17px
}

._BT_slider._BT_sliderRound:before {
  border-radius: 50%
}